body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;

    background: #ECF0F1;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2.6em;
}

h4 {
    font-size: 2.4em;
}

h5 {
    font-size: 2.2em;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.clearfix {
    clear: both;
}

.subtle-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-spacing: 0;
}

.col-80 {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    text-align: left;
}

.col-60 {
    width: 450px;
    min-width: 450px;
    max-width: 450px;
    text-align: left;
}

.col-40 {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    text-align: left;
}

.col-20 {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

.status {
    padding: 8px;
    text-align: left;
    display: none;
}

.status.error {
    border-left: 2px solid #FF4444;
    background: rgba(255, 68, 68, 0.1);
}

.status.neutral {
    border-left: 2px solid #33B5E5;
    background: rgba(51, 181, 229, 0.1);
}

.status.warning {
    border-left: 2px solid #FFBB33;
    background: rgba(255, 187, 51, 0.1);
}

.subtle-table th {
    font-size: 1.2em;
    font-weight: normal;
    padding: 8px 8px;
    color: #333;
}

.subtle-table tbody tr.header-row th {
    padding-bottom: 0;
    text-align: left;
}

.subtle-table tbody tr.data-row td {
    padding: 8px;
    border-top: 1px solid #E0E0E0;
    background: #FFF;
}

.project-deps tbody tr.data-row td {
    height: 48px;
}

.subtle-table tbody tr.data-row:last-child td {
    border-bottom: 1px solid #E0E0E0;
}

.subtle-table tr.data-row:hover td {
    background: rgba(255, 255, 255, 0.5);
}

.red-button {
    min-width: 96px;
    height: 42px;

    color: #FFF;
    padding: 8px;

    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;


    box-shadow: 0 0 4px #FF4444;
    background-color: #FF4444;
    border: 1px solid #EE0000;
}

.red-button:hover, .red-button.zeroclipboard-is-hover {
    color: #FFF;
    box-shadow: 0 0 4px #ff5f5f;
    background-color: #ff5f5f;
    border: 1px solid #f05656;
    cursor: pointer;
    text-decoration: none;
}

.red-button:focus {
    outline: none;
}

/* Header */
#fancy-pants-header {
    height: 32px;
    box-sizing: border-box;
    color: #CCC;
    line-height: 32px;
}

#fancy-pants-header:hover {
    background: rgba(33, 33, 33, 0.6);
    color: #EEE;
}

#fancy-pants-header-inner {
    width: 960px;
    margin: 0 auto;
}

#fancy-pants-header a {
    color: #CCC;
}

#fancy-pants-header a:hover, #fancy-pants-header .selected a {
    color: #EEE;
}

#fancy-pants-header-indicator {
    width: 100%;
    text-align: center;
    color: #CCC;
    position: absolute;
    top: 0;
    left: 0;
}

#fancy-pants-header:hover #fancy-pants-header-indicator {
    display: none;
}

#fancy-pants-title {
    color: #CCC;
    font-size: 1.3em;
    float: left;
    padding: 0 8px;
    display: none;
}

#fancy-pants-header:hover #fancy-pants-title {
    display: block;
}

#fancy-pants-title:hover {
    text-decoration: none;
    color: #EEE;
    background: rgba(255, 255, 255, 0.15);
}

#fancy-pants-header:hover nav {
    display: block;
}

#fancy-pants-header nav {
    display: none;
    float: right;
}

#fancy-pants-header nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0 8px;
}

#fancy-pants-header nav li:hover, #fancy-pants-header nav li.selected {
    background: rgba(255, 255, 255, 0.15);
}

/* Step 1 */
form {
    width: auto;
    height: 24px;

    display: inline-block;
}

#search-box {
    margin-top: 2.6em;
}

.dropdown-trigger {
    text-align: right;
    color: #AAA;
    margin-top: 8px;
    display: block;
    clear: both;
}

#dropdown-options {
    display: none;
    text-align: left;
    background: #FFF;
    padding: 8px;
    margin-top: 8px;
    border-radius: 2px;
    border: 1px solid #CCC;
}

#dropdown-options > * {
    display: block;
    margin-bottom: 8px;
}

#dropdown-options > :last-child {
    margin-bottom: 0;
}

#search-bar-and-button {
    border: 0;
    margin: 0;
    padding: 0;
}

#search-bar-and-button input[type="text"] {
    float: left;
}

input[type="text"] {
    width: 500px;
    height: 24px;
    padding: 8px;
    font-size: 16px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #CCC;
    box-shadow: 0 0 0 #FF4444;
}

#search-bar-and-button:hover input[type="text"], input[type="text"]:hover, input[type="text"]:focus {
    box-shadow: 0 0 4px #FF4444;
    border: 1px solid #FF4444;
    outline: none;
}

.attached-button-wrap {
    width: 64px;
    height: 42px;

    display: inline-block;
    line-height: 42px;
    margin-left: -5px;

    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    border: 1px solid #CCC;

    background: #CCC;
    background-image: url('../images/ic_action_github.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
}

.attached-button-wrap:hover {
    cursor: pointer;

}

#search-bar-and-button:hover .attached-button-wrap, input:focus ~ .attached-button-wrap, .attached-button-wrap:focus {
    box-shadow: 1px 0 4px #FF4444;
    background-color: #FF4444;
    border: 1px solid #EE0000;
}

.attached-button-wrap:hover {
    border-radius: 2px;
}

.attached-button {
    border: 0;
    background: none;
    z-index: -1;
    outline: none;
}

/* Step #2 */
#step-2 {
    display: none;
}

.project-deps .dependency-meta {
    color: #AAA;
    font-size: 0.9em;
    display: block;
}

.project-deps tfoot th {
    background: rgba(0, 0, 0, 0.05);
    font-size: 0.9em;
    color: #666;
}

.project-deps tfoot th a {
    color: #666;
    border-bottom: 1px solid #666;
}

.project-deps tfoot th a:hover {
    color: #AAA;
    text-decoration: none;
    border: 0;
}

/* Step 3 */
#step-3 {
   display: none;
}

#export-controllers {
    margin-top: 2em;
}

#export-controllers a {
    margin-left: 4px;
    margin-right: 4px;
}