<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="MainController as main">
    <head>
        {% load staticfiles %}
        <title>Is your project up to date?</title>
        <link rel="stylesheet" href="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link href='//fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/default.css" %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static "js/ZeroClipboard.min.js" %}"></script>
        <script src="{% static "js/angular.min.js" %}"></script>
        <script src="{% static "js/demo-angular.js" %}"></script>
    </head>
    <body>
        {% include "header.html" %}
        <div id="wrapper">
            <section id="step-1" ng-controller="SearchController">
                <h1>Is your project up to date?</h1>
                <p>As time flies, the libraries we all love to use get updated. Use this service to see if there are newer any versions for you to use in your Github projects.</p>
                <form method="post" id="search-box" ng-submit="triggerSearch($event)">
                    <div id="step-1-status" class="status" style="margin-bottom: 16px"></div>
                    <fieldset id="search-bar-and-button">
                        <!-- Randomize the placeholder user/repo -->
                        <input tabindex="2" name="github-info" placeholder="Ex: karllindmark/FizzBuzz" type="text" ng-model="github_info">
                        {% csrf_token %}
                        <div class="attached-button-wrap pseudo-button" tabindex="2" ng-click="triggerSearch($event)" ng-keypress="triggerSearch($event)"></div>
                    </fieldset>
                    <div>
                        <a href="#" class="dropdown-trigger" data-target="dropdown-options">Click here for more options</a>
                        <div id="dropdown-options">
                            <label for="project-type">Project type</label>
                            <select id="project-type" name="project-type" ng-init="selected_type = ['gradle']" ng-model="selected_type" ng-change="updateProjectType()">
                                {% for key, value in project_types.iteritems %}
                                <option value="{{ key }}"{% if key == 'gradle' %}{{ ' selected' }}{% endif %}>{{ value.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </section>
            <section id="step-2" ng-controller="FileListController">
                <h1>Project found!</h1>
                <p>Not only did we find your project, but we've also managed to find the following files in it. You may select/deselect any files below.</p>
                <form method="post" id="project-files-box">
                    <table id="project-files-table" class="subtle-table">
                        <thead>
                            <tr>
                                <th class="col-80">Project file</th>
                                <th class="col-20">
                                    <label for="file-toggler">
                                        Include
                                        <!-- TODO: Fix checkbox toggling + use model -->
                                        <input type="checkbox" class="file-toggler" checked>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        {% verbatim %}
                        <tbody ng-show="files.length > 0">
                            <tr class="data-row" ng-repeat="file in files">
                                <td class="col-80">
                                    <a href="{{ file.html_url }}" target="_blank">{{ file.path }}</a>
                                </td>
                                <td class="col-20">
                                    <!-- TODO: Fix checkbox toggling -->
                                    <input name="selected" type="checkbox" value="{{ file.html_url }}|{{ file.path }}" checked>
                                </td>
                            </tr>
                        </tbody>
                        {% endverbatim %}
                        <tbody ng-show="files.length === 0">
                            <tr class="data-row">
                                <td class="col-80" colspan="2">No files found.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="step-2-status" class="status" style="margin-top: 16px"></div>
                    <input class="red-button" type="submit" value="Next" style="margin-top: 16px" ng-click="fetchDependencies($event)" ng-keypress="fetchDependencies($event)">
                </form>
            </section>
            <section id="step-3" ng-controller="DependencyListController">
                <h1>Dependencies gathered!</h1>
                <p>Hooray! We've managed to gather the dependencies for your project. Please report any bugs you may encounter (for example, missing items)!</p>
                <div id="step-3-status" class="status"></div>
                <div id="project-deps-table-wrapper">
                    {% verbatim %}
                    <table class="project-deps subtle-table" ng-repeat="file in files" ng-show="file.dependencies">
                        <thead>
                            <tr>
                              <th class="col-40">Title</th>
                              <th class="col-20">Current version</th>
                              <th class="col-20">Latest version</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align: left">
                                    File: <a href="{{ file.url }}">{{ file.path }}</a>
                                </th>
                            </tr>
                        </tfoot>
                        <tbody ng-show="file.dependencies">
                            <tr class="data-row"
                                data-path="{{ file.path }}"
                                data-group="{{ dep.g }}"
                                data-artifact="{{ dep.a }}"
                                data-version="{{ dep.v }}"
                                ng-repeat="dep in file.dependencies"
                            >
                                <td class="col-40">
                                    <span>{{ dep.a }}</span>
                                    <span class="dependency-meta">{{ dep.g }}</span>
                                </td>
                                <td class="col-20">{{ dep.v }}</td>
                                <td class="col-20" style="white-space: pre" id="progress-{{ dep.as_slug() }}">Checking...</td>
                                <td class="col-20"><a href="#" class="red-button clipboard-button">Copy to clipboard</a></td>
                            </tr>
                        </tbody>
                    </table>
                    {% endverbatim %}
                </div>
                <div id="export-controllers">
                    <a id="github-export" class="red-button">Export to Github...</a>
                    <a id="email-export" class="red-button">Export to email...</a>
                </div>
            </section>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-54542416-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>