<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>Is your project up to date?</title>
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link href='//fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/default.css" %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script>
            $.ajaxSetup(
                {
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    }
                }
            );
        </script>
    </head>
    <body>
        <div id="wrapper">
            <section id="step-1">
                <h1>Is your project up to date?</h1>
                <p>As time flies, the libraries we all love to use get updated. Use this service to see if there are newer any versions for you to use in your projects.</p>
                <form method="post" id="search-box">
                    <input tabindex="0" name="github-info" placeholder="Ex: karllindmark/FizzBuzz" value="karllindmark/FizzBuzz" type="text">
                    <div class="attached-button-wrap">
                        <button tabindex="-1" class="attached-button"></button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </section>
            <section id="step-2">
                <h1>Project found!</h1>
                <p>Not only did we find your project, but we've also managed to find the following files in it. You may select/deselect any files below.</p>
                <form method="post" id="project-files-box">
                    <table id="project-files-table" class="subtle-table"></table>
                    <input class="red-button" type="submit" value="Next">
                </form>
            </section>
            <section id="step-3">
                <h1>Dependencies gathered!</h1>
                <p>Hooray! We've managed to gather the dependencies for your project. Please report any bugs you may encounter (for example, missing items)!</p>
                <table id="project-deps-table" class="subtle-table"></table>
                <div id="export-controllers">
                    <a href="#export-to-github" id="github-export" class="red-button">Export to Github</a>
                    <a href="#export-to-pivotal" id="pivotal-export" class="red-button">Export to Pivotal Tracker</a>
                    <a href="#export-to-email" id="email-export" class="red-button">Export to email...</a>
                </div>
            </section>
        </div>
    </body>
</html>