<section id="step-1" ng-controller="SearchController">
    <h1>Is your project up to date?</h1>
    <p>As time flies, the libraries we all love to use get updated. Use this service to see if there are newer any versions for you to use in your Github projects.</p>
    <form method="post" id="search-box" ng-submit="triggerSearch($event)">
        {% verbatim %}
        <div id="step-1-error" class="status error" style="margin-bottom: 16px" ng-show="error" ng-bind-html="error | unsafe"></div>
        <div id="step-1-progress" class="status neutral" style="margin-bottom: 16px" ng-show="progress && !error" ng-bind-html="progress | unsafe"></div>
        {% endverbatim %}
        <fieldset id="search-bar-and-button">
            <!-- Randomize the placeholder user/repo -->
            <input tabindex="2" name="github-info" placeholder="Ex: karllindmark/FizzBuzz" type="text" ng-model="github_info">
            {% csrf_token %}
            <div class="attached-button-wrap pseudo-button" tabindex="2" ng-click="triggerSearch($event)" ng-keypress="triggerSearch($event)"></div>
        </fieldset>
        <div>
            <a href="#" class="dropdown-trigger" data-target="dropdown-options">Click here for more options</a>
            <div id="dropdown-options">
                <label for="project-type">Project type</label>
                <select id="project-type" name="project-type" ng-init="selected_type = ['gradle']" ng-model="selected_type" ng-change="updateProjectType()">
                    {% for key, value in project_types.iteritems %}
                        <option value="{{ key }}"{% if key == 'gradle' %}{{ ' selected' }}{% endif %}>{{ value.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</section>
